/*Header*/
@media (max-width: 900px) {
    .contaienr_menu_principal  {
        width: auto;
        height: 415px;
        background: url(https://i.pinimg.com/564x/d0/46/56/d04656335419c83b3cdeca2750dfe4ef.jpg);
        background-position: center;
    }
    .Container_cor {
        height: 415px;
    }
    .Menu_principal {
        height: 60px;
        background: #000;
    }
    .nav_links {
        display: none;
    }
    .logo_menu {
        font-size: 1.8rem;
    }
    .nav_bar_links {
        padding-top: 15px;
    }
    .nav_img {
        width: 150px;
        padding-bottom: 15px;
    }
    .links_bar {
        width: 50%;
    }

}
/*Apresentassao*/
@media (max-width: 900px) {
    .container_apresentasao {
        left: 0px;
        position: revert;
    }
    .texto_eu {
        font-size: 1.3rem;
        padding: 0px 1rem;
    }
    .texto_apresentaossao {
        height: 185px;
        gap: 0.5rem;
    }
    .texto_apresen{
        font-size: 0.9rem;
        padding: 0px 1rem;
    } 
    .redes_apresentasao {
        height: 70px;
        font-size: 1rem;
    }
    .link_btn {
        font-size: 1rem;
        padding: 3px 20px;
    }
}