/*Header*/
@media (max-width: 900px) {
    .contaienr_menu_principal  {
        width: auto;
        height: 365px;
        background: url(https://i.pinimg.com/564x/b9/71/f2/b971f2f7bdbe38e0edbede6a80b6bc7b.jpg);
        background-position: center;
    }
    .Container_cor {
        background: linear-gradient(140deg, black, transparent);
        height: 365px;
    }
    .nav_links {
        display: none;
    }
    .logo_menu {
        font-size: 1rem;
    }
    .nav_bar_links {
        padding-top: 15px;
    }
    .nav_img {
        width: 150px;
        padding-bottom: 15px;
    }
    .links_bar {
        width: 50%;
    }

}
/*Apresentassao*/
@media (max-width: 900px) {
    .container_apresentasao {
        left: 0px;
        position: revert;
    }
    .texto_eu {
        font-size: 1.5rem;
        padding: 0px 1rem;
    }
    .texto_apresentaossao {
        height: 140px;
        gap: 0.5rem;
    }
    .texto_apresen{
        font-size: 0.9rem;
        padding: 0px 1rem;
    } 
    .redes_apresentasao {
        height: 70px;
        font-size: 1rem;
    }
    .link_btn {
        font-size: 1rem;
        padding: 3px 20px;
    }
}