/*container_apresentasao*/
.contaienr_menu_principal {
    background: url(https://i.pinimg.com/564x/77/29/49/772949e58512cea381629f10dbb0d1bc.jpg);
    height: 630px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.container_apresentasao {
    position: absolute;
    animation: topup 1.5s;
    left: 270px;
}
.texto_apresentaossao {
    color: var(--color-primeira);
    height: 235px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}
.texto_eu {
    font-size: 3rem;
}
.redes_apresentasao {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: var(--Font-primeira);
}
#icone_apresentaco {
    color: var(--color-primeira);
    transition: all .5s;
}
.btn_curriculo {
    text-align: center;
}
.link_btn  {
    font-size: var(--font-segunda);
    width: 124px;
    height: 63px;
    border: 1px solid #fff;
    padding: 6px 35px;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.5s;
}
.link_curriculo {
    color: var(--color-primeira);
    cursor: pointer;
    transition: all .5s;
}

/*Efeitos*/
.link_btn:hover {
    background: var(--color-primeira);
} 
.link_curriculo:hover {
    color: var( --color-segundaria);
}
@keyframes topup {
    from {top: 300px;}
    to {top: 100px;}
}
#icone_apresentaco:hover{
    color: var(--color-terceira);
}

/*Mobile*/
@media (max-width: 900px) {
    .contaienr_menu_principal  {
        width: auto;
        height: 667px;
        background: url(https://i.pinimg.com/564x/d0/46/56/d04656335419c83b3cdeca2750dfe4ef.jpg);
        background-position: center;
        background-attachment: fixed;
    }
    .container_apresentasao {
        left: 0px;
    }
    .texto_eu {
        font-size: 1.3rem;
    }
    .texto_apresentaossao {
        height: 334px;
        gap: .5rem;
        padding: 0px 1.5rem;
    }
    .texto_apresen{
        font-size: .9rem;
    } 
    .redes_apresentasao {
        height: 70px;
        font-size: 1rem;
    }
    .link_btn {
        font-size: 1rem;
        padding: 3px 20px;
    }

    /*Efeitos*/
    @keyframes topup {
        from {top: 200px;}
        to {top: 0px;}
    }
}


/*container_sobremin*/
.container_sobremin {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
}
.sobre_min_logo01 {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    height: 110px;
    justify-content: center;
    align-items: center;
}
.sobre_min_logo {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
    align-items: center;
}
.icone_logo {
    height: 1px;
    width: 170px;
    background-color: var(--color-terceira);
}
.estrela {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    position: relative;
    top: -4px;
}
.star {
    background-color: var(--color-terceira);
    display: inline-block;
    width: 8px;
    height: 8px;
    transform: rotate(219deg);
    margin-right: 1px;
    animation: star 3s infinite;
}
.eu_sobre {
    width: 200px;
    border-radius: 100%;
    border: 6px solid rgb(255, 255, 255);
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    cursor: pointer;
}
.texto_sobre_min {
    text-align: center;
}
.btn_sobrecurriculo {
    border: 1px solid;
    padding: 6px 35px;
    border-radius: 15px;
    cursor: pointer;
    transition: all .5s;
}
.downl_sobre {
    color: var(--color-segundaria);
}

/*Efeitos*/
.btn_sobrecurriculo:hover{
    background: var(--color-segundaria);
}
.downl_sobre:hover {
    color: var(--color-primeira);
}
@keyframes star{
    0% {
        transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
    }
}

/*Mobile*/
@media (max-width: 900px) {
    .container_sobremin {
        height: 667px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }
    .texto_logo {
        font-size: var(--font-segunda);
    }
    .eu_sobre {
        width: 140px;
    }
    .quemsou {
        font-size: var(--font-segunda);
    }
    .texto_sobre_min {
        padding: 0px 1rem;
        font-size: .9rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
}


/*Habilidades*/
.container_habilidades {
    height: 220px;
    gap: 2.5rem;
    background: url(https://i.pinimg.com/564x/c2/8f/00/c28f00477f355aa2956ef935e71f3e0d.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.cor_habilidades {
    background: linear-gradient(140deg, black, transparent);
    height: 220px;
}
.front {
    display: flex;
    align-items: center;
    gap: .5rem;
    flex-direction: column;
    color: var(--color-primeira);
}
.texto_logo01{
    color: var(--color-primeira);
}
.texto_habilidades {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--color-primeira);
}
#Icone_develop {
    font-size: var(--font-segunda);
    color: var(--color-primeira);
}
#icone_habilidade {
    font-size: var(--Font-primeira);
    cursor: pointer;
    width: 28.81px;
    color: var(--color-primeira);
}
.sessao_habilidades {
    display: flex;
    align-items: center;
    height: 65px;
    justify-content: space-evenly;
}

/*Mobile*/
@media (max-width: 900px) {
    .container_habilidades {
        height: 500px;
        background: url(https://i.pinimg.com/564x/b9/92/49/b99249c860d9b507251991d063a245b4.jpg);
        background-position: center;
    }
    .cor_habilidades {
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .texto_logo01 {
        font-size: var(--font-segunda);
    }
    .sessao_habilidades {
        display: flex;
        align-items: center;
        height: auto;
        flex-direction: column;
        gap: 1rem;
    }
}


/*Formulario*/
.container_contato {
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
}
.menu_formulario {
    display: flex;
    gap: 5rem;
    align-items: center;
}
.formulario_menu {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.texto_formulario {
    font-size: var(--font-segunda);
} 
input {
    border: 1px solid;
    height: 30px;
    width: 250px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.motivo {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
textarea {
    border: 1px solid;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: 100px;
}
.btn_form {
    display: flex;
    justify-content: center;
    padding-top: 2rem; 
}
.btn_enviar {
    background: rgb(4, 255, 0);
    cursor: pointer;
    width: 90px;
    transition: all .5s;
}

/*Efeitos*/
.btn_enviar:hover {
    -webkit-transform: scale(.9);
    transform: scale(.9);
}

/*mobile*/
@media (max-width: 900px) {
    .container_contato {
        height: 667px;
    }
    .menu_formulario {
        gap: .8rem;
        flex-direction: column;
    }
    .texto_formulario {
        font-size: 1rem;
    }
    .motivo {
        padding-top: 1rem;
    }
    .btn_form {
        padding-top: 1rem;
    }
    .final {
        font-size: 1rem;
        height: auto;
    }
}
