*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}
.contaienr_menu_principal {
    background: url(https://i.pinimg.com/564x/b6/01/96/b6019645c6c9aa37f982462d8ac8de7b.jpg);
    height: 630px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.contaiener_cor {
    background: linear-gradient(45deg, black, transparent);
    height: 630px;
}