*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}
.contaienr_menu_principal {
    background: url(https://i.pinimg.com/564x/77/29/49/772949e58512cea381629f10dbb0d1bc.jpg);
    height: 630px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.Container_cor {
    background: linear-gradient(140deg, black, transparent);
    height: 630px;
}